JWT_SECRET=BlahBlah
OPENAI_API_KEY=BlahBlah
CLAUDE_API_KEY=BlahBlah
JASYPT_ENCRYPTOR_PASSWORD=BlahBlah
AZURE_COMMUNICATION_EMAIL_CONNECTION_STRING=<Azure Communication Email connection string>
GOOGLE_BE_CLIENT_ID=BlahBlah